html, body {
	margin:0;
	padding:0;
}

html, body {
	margin:0;
	padding:0;
}

#container2 {
	text-align:center;
	text-align:justify;
}

#container2 a {
	color:#369;
	text-decoration:none;
}

#container2 a:hover {
	text-decoration:underline;
}

nav, .header {
	background-color:#f56b2a;
	width:100%;
}

.nbr_annonce {
	color:#f56b2a;
}

.hidden a, #Connect a {
	text-decoration:none;
}

#HiddenUL li, #Connect {
	list-style:none;
}

/* ====================================== GESTION INPUT Place an Ad and Around Me =================================================== */

#place_an_ad, #around_me {
	margin:auto;
	border-radius:3px;
	width:260px;
	min-height:25px;
	text-decoration:none;
}

#place_an_ad {
	background-color:#4183d7;
	color:white;
}

#around_me {
	color:#4138d7;
	border:0.2px #4138d7 solid;
	margin-top:10px;
}

#place_an_ad:hover {
	background-color:#4138d7;
	opacity:0.65;
}

#around_me:hover {
	background-color:#80ffff;
}
/* Query for Tablet/smartphone */

@media all and (min-width: 150px) {

/* ================================================= Gestion Header + Hidden MENU ================================================================= */ 

nav, .header {
	display:flex;
	flex-direction:row-reverse;
	justify-content:flex-end;	
}

nav h1 {
	color:white;
	margin:auto;
}

.hidden a, #Connect a {
	color:#369;
}

.hidden a:hover, #Connect a:hover {
	color:#f56b2a;
}

#HiddenUL li, #Connect {
	list-style:none;
	margin-top:8%;
}


ul h1 {
	background-color:orange;
	color:white;
}

#HiddenUL ul {
	position:absolute;
	left:-999em;
	top:0;
	width:60%;
	text-align:left;
	z-index:999;
	border:1px black outset;
	background-color:lightgrey;
}

#HiddenImg {
	margin-left:-30px;
	width:30px;
	height:30px;
}

#HiddenUL li:hover ul {
	left:-2%;
	height:500px;
}

/* =========================================================== Map + text Allign =================================================================== */

#sub_container1, #map, .Pick_dep {
	text-align:center;
}

.Pick_dep {
	margin-left:5%;
	width:90%;
	min-height:50px;
}

#sub_container1 a {
	display:flex;
	flex-direction:column;
}	

/* ====================================================== right and bottom List on Desktop only ==================================================== */

#rightside {
	display:none;
}

.column {
	display:none;
}

.Partners {
	display:none;
}

/* ======================================================================= Footer ================================================================== */

#Cellfoot {
	margin-top:5%;
	border-top: 1px black outset;
	background-color:grey;
	color:white;
	width:100%;
}

#Cellfoot, #Cellfoot ul {
	display:flex;
	flex-direction:row;
	list-style:none;
	line-height:25px;
}

.footright {
	position:absolute;
	right:0;
}

.footright img {
	height:30px;
	width:30px;
}

#second_footer .footcontain {
	display:none;
}

/* ======================================================= Query for Desktop ================================================================ */

@media all and (min-width: 900px) {

/* ============================================================ HEADER ================================================================== */


#HiddenUL h1 {
	font-size:1.2em;
	margin:auto;
}

#HiddenImg {
	display:none;
}

.hidden a, #HiddenUL ul {
	color:white;
}

.hidden a:hover {
	text-decoration:underline;
}

#HiddenUL ul {
	display:flex;
	flex-direction:row;
}

.hidden, #Connect {
	display:flex;
	justify-content:space-between;
	margin:auto;
	font-size:0.8em;

}

#Connect {
	border-left: 2px solid white;
	border-right: 2px solid white;
	height:4.5rem;
}

#Connect:hover, #Connect a:hover {
	color:#f56b2a;
	background-color:white;
}

#Connect a {
	color:white;
	position:relative;
	top:40%;
}

/* ================================================= Nbr dep; inputs; map and right list ====================================================== */

#container1 {
	display:flex;
}

.Pick_dep {
	display:none;
}

#sub_container1 {
	display:flex;
	flex-direction:column;
	width:40%;
}

#place_an_ad, #around_me {
	position:relative;
	bottom:20%;
}

#around_me {
	bottom:40%;
}

#sub_container1, #map {
	text-align:center;
}

#rightside {
	display:flex;
}

#rightside a {
	color:#369;
	text-decoration:none;
}

#rightside a:hover {
	color:#f56b2a;
}

#rightside li {
	display:flex;
	justify-content:right;
	list-style:none;
	text-align:justify;
	font-size:0.9em;
}

/* ============================================================================================================================================ */

#container2 {
	text-align:center;
}

/* ================================================================ FIRST FOOTER ================================================================== */

#first_footer li, #second_footer li {
	list-style:none;
}

#first_footer a {
	text-decoration:none;
	color:#369;
}

#first_footer a:hover {
	text-decoration:underline;
}

#first_footer {
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	font-size:0.8rem;
	background-color:lightgrey;
}

.footcontain h2 {
	border-bottom:0.2px solid grey;
}

.column {
	display:flex;
	flex-direction:column;
	text-align:justify;
}

.column h2 {
	font-size:0.8rem;
	text-align:center;
}

/* ============================================================== SECOND FOOTER ================================================================= */

#second_footer .footcontain, #second_footer .Partners {
	display:flex;
}

#second_footer {
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content:space-around;
	background-color:#474747;
}

#second_footer li:hover {
	text-decoration:underline;
}

.footcontain {
	display:flex;
	flex-direction:column;
}

#second_footer a, #second_footer h2, #second_footer li {
	text-decoration:none;
	color:white;
}

#second_footer h2 {
	font-size:0.8rem;
}

.Partners li {
	display:inline-block;
}

.Partners {
	border-top:0.5px solid white;
	border-bottom:0.5px solid white;
}

.Cellfoot {
	margin-top:10px;
	display:flex;
	flex-direction:row;
	width:100%;
	justify-content:space-between;
}

.footright {
	display:flex;
	flex-direction:row;
}

.footright img {
	height:45px;
	width:45px;
}
}