html, body {
	margin:0;
	padding:0;
}

html, body {
	margin:0;
	padding:0;
}

#container2 {
	text-align:center;
	text-align:justify;
}

#container2 a {
	color:#369;
	text-decoration:none;
}

#container2 a:hover {
	text-decoration:underline;
}

nav, .header {
	background-color:#f56b2a;
	width:100%;
}

/* Query for Tablet/smartphone */

@media all and (max-height: 770px) {

/* ================================================= Gestion Header + Hidden MENU ================================================================= */ 

nav, .header {
	display:flex;
	flex-direction:row-reverse;
	justify-content:flex-end;	
}

nav h1 {
	color:white;
	margin:auto;
}

.hidden a {
	text-decoration:none;
	color:#369;
}

.hidden a:hover {
	color:#f56b2a;
}

#HiddenUL li {
	list-style:none;
	margin-top:8%;
}


ul h1 {
	background-color:orange;
	color:white;
}

#HiddenUL ul {
	position:absolute;
	left:-999em;
	top:0;
	width:60%;
	text-align:left;
	z-index:999;
	border:1px black outset;
	background-color:lightgrey;
}

#HiddenImg {
	margin-left:-30px;
}

#HiddenUL li:hover ul {
	left:-2%;
	height:500px;
}

/* =========================================================== Map + text Allign =================================================================== */

#sub_container1, #map {
	text-align:center;
}

.Pick_dep {
	margin-left:5%;
	width:90%;
	min-height:50px;
	text-align:center;
}

#sub_container1 a {
	display:flex;
	flex-direction:column;
}	

/* ====================================================== right and bottom List on Desktop only ==================================================== */
#rightside {
	display:none;
}

.column {
	display:none;
}

/* ======================================================================= Footer ================================================================== */

.Cellfoot {
	margin-top:5%;
	border-top: 1px black outset;
	background-color:grey;
	color:white;
	width:100%;
}

.Cellfoot, .Cellfoot ul {
	display:flex;
	flex-direction:row;
	list-style:none;
	line-height:25px;
}

#footright {
	position:absolute;
	right:0;
}

#footright img {
	height:30px;
	width:30px;
}
}